* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

body {
	background: linear-gradient(
		90deg,
		rgba(48, 16, 255, 1) 0%,
		rgba(100, 115, 255, 1) 100%
	);
}

#root {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.todo-app {
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 575px;
	min-height: 85vh;
	background: #161a2b;
	text-align: center;
	margin: 128px auto;
	border-radius: 10px;
	padding: 35px 60px;
}

h1 {
	margin: 32px 0;
	color: #fff;
	font-size: 24px;
}

.complete {
	text-decoration: line-through;
	opacity: 0.4;
}

.todo-form {
	margin-bottom: 25px;
	width: 100%;
}

.todo-input {
	padding: 14px 16px;
	border-radius: 4px 0 0 4px;
	border: 2px solid #5d0cff;
	outline: none;
	width: 80%;
	background: transparent;
	color: #fff;
}

.todo-input::placeholder {
	color: #e2e2e2;
}

.todo-button {
	min-width: 48px;
	width: 20%;
	padding: 16px;
	border: none;
	border-radius: 0 4px 4px 0;
	cursor: pointer;
	outline: none;
	/* background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	); */

	background: linear-gradient(
		90deg,
		rgba(255, 12, 241, 1) 0%,
		rgba(250, 0, 135, 1) 100%
	);

	color: #fff;
	text-transform: capitalize;
}

.todo-input.edit {
	border: 2px solid #149fff;
}

.todo-button.edit {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
	padding: 16px 22px;
}

.todo-container {
	display: flex;
	flex-direction: row;
	position: relative;
}

.todo-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px auto;
	color: #fff;
	background: linear-gradient(
		90deg,
		rgba(255, 118, 20, 1) 0%,
		rgba(255, 84, 17, 1) 100%
	);
	padding: 12px;
	border-radius: 5px;
	width: 100%;
}

.todo-row div:first-child {
	word-break: break-all;
	text-align: left;
	margin-right: 10px;
}

.todo-row:nth-child(4n + 1) {
	background: linear-gradient(
		90deg,
		rgba(93, 12, 255, 1) 0%,
		rgba(155, 0, 250, 1) 100%
	);
}

.todo-row:nth-child(4n + 2) {
	background: linear-gradient(
		90deg,
		rgba(255, 12, 241, 1) 0%,
		rgba(250, 0, 135, 1) 100%
	);
}

.todo-row:nth-child(4n + 3) {
	background: linear-gradient(
		90deg,
		rgba(20, 159, 255, 1) 0%,
		rgba(17, 122, 255, 1) 100%
	);
}

#group-1 {
	display: flex;
	align-items: center;
}

.icons {
	display: flex;
	align-items: center;
	font-size: 24px;
	cursor: pointer;
	color: #fff;
}

.hidden {
	display: none;
}

.delete-icon {
	margin-right: 5px;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
	.todo-app {
		width: 80%;
		padding: 35px 55px;
	}

	.todo-input {
		width: calc(100% - 90px);
		/* width: calc(100% - 100.77px); */
	}

	.todo-button,
	.todo-button.edit {
		min-width: fit-content;
		width: fit-content;
	}
}

/* Small devices (phones, 480px and down) */
@media only screen and (max-width: 480px) {
	.todo-app {
		padding: 35px;
	}

	h1 {
		margin: 20px 0 35px;
	}

	.todo-input {
		width: calc(100% - 75.32px);
		padding: 14px;
	}

	.todo-input.edit {
		width: calc(100% - 75.07px);
	}

	.todo-button {
		width: 74.32px;
		padding: 16px 10px;
	}

	.todo-button.edit {
		padding: 16px;
	}
}
